html {
  background-color: var(--white-dark);
}
body {
  font-family: $poppins;
}
a {
  text-decoration: none;
  color: var(--q-primary);
}
.card-base-dialog {
  width: 350px;
}
.card-rounded {
  border-radius: 20px !important;
}
.btn-action {
  display: none;
}
.tr-data-table:hover .btn-action {
  display: inline;
}
